.container {
  margin-left: 200px;
  margin-right: 400px;
}

header {
  height: 118px;
  width: 1024px;
  text-align: center;
}

nav {
  background-color: rgba(0, 0, 0, 0.318);
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-left: 200px;
}

main {
  height: 400px;
  width: 1024px;
  padding-top: 10px;
}

footer {
  background-color: rgba(0, 0, 0, 0.333);
  margin-left: 200px;
  margin-top: 200px;
}

h1 {
  font-size: 84px;
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 57px;
}

p {
  font-size: 18px;
  text-align: center;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-right: 150px;
  padding-left: 150px;
  padding-bottom: 24px;
}

body {
  background-color: rgb(51, 52, 52);
  text-align: center;
  background-image: url(./img/background-adare-restaurant.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

a {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: underline;
}

html {
  height: 100%;
}

nav a {
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

footer p {
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 8px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

.map {
  padding-top: 40px;
}
